### NLP (12 Questions, 22 Marks)
#### Questions 42 - 53
The practical questions of the next 12 questions should be answered using the Essay_data.csv file.

This CSV file contains a personality profile, together with an essay written by an individual with that specific personality type.

Once you have imported the data frame, use the dropna() function to remove rows containing missing values and reset the index.

How many bi-grams can be created from the following sentence after performing the following steps in the correct order:

Remove stopwords
Remove punctuation and replace by a single white space
Convert all text to lower case
I’m a part-time student @explore-software.

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
from nltk.tokenize import word_tokenize, TreebankWordDetokenizer
from nltk.corpus import stopwords
from nltk import ngrams
import string
import re

In [39]:
essy_df = pd.read_csv(r'C:\Users\USER\OneDrive\CB\ALX\Data Science\Integrated Exams\Part 2\Classification\Data\Essay_data.csv')

essy_df.isna().sum()

#Removing Null Values
essy_df.dropna(inplace= True)

#Resetting the Index
essy_df.reset_index(drop = True, inplace= True)

In [40]:
essy_df.head()
essy_df.info()
essy_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   I/E     93 non-null     object
 1   N/S     93 non-null     object
 2   T/F     93 non-null     object
 3   J/P     93 non-null     object
 4   Essay   93 non-null     object
dtypes: object(5)
memory usage: 3.8+ KB

   I/E N/S T/F J/P                                              Essay
0    I   S   T   J  My first 4 months at the EDSA have been filled...
1    I   N   F   J  I joined the academy being at a crossroads of ...
2    E   N   F   J  so far my experience has been positive and i c...
3    I   N   F   J  I have been very fortunate to have the opportu...
4    I   N   T   J  Looking back to when one got to the academy an...
..  ..  ..  ..  ..                                                ...
88   I   S   F   J  My experience at the Explore Data Science Acad...
89   I   N   T   P  A new city, new people and a completely new en...
90   I   N   T   J  My experience at the academy has been one of t...
91   I   S   F   J  After spending a year at home while it was jus...
92   E   S   F   P  The Academy has brought nothing but useful and...

[93 rows x 5 columns]

In [41]:
#Download Necessary NLTK data
#nltk.download('punkt')
#nltk.download('stopwords')

#Function to Remove stopwords and punctuation
def clean_text(text):
    #Convert to lowercase
    text = text.lower()

    #Remove puntuation
    text = re.sub(r'[^\w\s]', ' ', text)
    
    #Tokenize
    tokens = word_tokenize(text)
    #Remove stopwords
    stop_words = set(stopwords.words('english'))
    cleaned_tokens = [word for word in tokens if word not in stop_words]
    return cleaned_tokens

sentence = 'I’m a part-time student @explore-software.'
#Clean and tokenize the sentence

cleaned_sentence = clean_text(sentence)

#Generate bi-grams
bigrams = list(ngrams(cleaned_sentence, 2))


#Count the # of bigrams
num_bigrams = len(bigrams)

print(f'Number of Bi-Grams from {sentence} is : {num_bigrams}')

Number of Bi-Grams from I’m a part-time student @explore-software. is : 4

In [5]:
essy_df['Cleaned_Essy'] = essy_df['Essay'].apply(clean_text)

In [6]:
essy_df.head()

,I/E,N/S,T/F,J/P,Essay,Cleaned_Essy
0,I,S,T,J,My first 4 months at the EDSA have been filled...,"[first, 4, months, edsa, filled, many, new, ex..."
1,I,N,F,J,I joined the academy being at a crossroads of ...,"[joined, academy, crossroads, sorts, life, aca..."
2,E,N,F,J,so far my experience has been positive and i c...,"[far, experience, positive, definitely, see, v..."
3,I,N,F,J,I have been very fortunate to have the opportu...,"[fortunate, opportunity, join, academy, year, ..."
4,I,N,T,J,Looking back to when one got to the academy an...,"[looking, back, one, got, academy, right, conf..."

##### Version 2

In [7]:
#Load the Data
essy_df = pd.read_csv(r'C:\Users\USER\OneDrive\CB\ALX\Data Science\Integrated Exams\Part 2\Classification\Data\Essay_data.csv')

#Remove rows with missing values 
essy_df = essy_df.dropna().reset_index(drop= True)

#Define steps to process the sentence
def process_text(text):
    # Convert to lower case
    text = text.lower()
    # Remove punctuation and replace with a single white space
    text = text.translate(str.maketrans(string.punctuation, ' '*len(string.punctuation)))
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    text = ' '.join([word for word in text.split() if word not in stop_words])
    return text

# process the sentence
processed_sentence = process_text(sentence)

#Generate bi-grams
bigram = list(nltk.bigrams(processed_sentence.split()))

In [8]:
len(bigram)

bigram

[('i’m', 'part'),
 ('part', 'time'),
 ('time', 'student'),
 ('student', 'explore'),
 ('explore', 'software')]

In [9]:
['part', 'time', 'student', 'explore', 'software']
[('part', 'time'), ('time', 'student'), ('student', 'explore'), ('explore', 'software')]

[('part', 'time'),
 ('time', 'student'),
 ('student', 'explore'),
 ('explore', 'software')]

In [10]:
import pandas as pd
import string
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

# Load the CSV file
data = essy_df

# Step 1: Data Preprocessing
# Manually defining a list of common English stopwords
stop_words = set(stopwords.words('english'))
def clean_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation and replace it with a single whitespace
    text = re.sub(r'[^\w\s]', ' ', text)
    # Remove stopwords
    text = ' '.join(word for word in text.split() if word not in stop_words)
    return text

# Apply the cleaning function to the Essay column
data['Essay_Cleaned'] = data['Essay'].apply(clean_text)

# Step 2: Vectorization
vectorizer = TfidfVectorizer(max_features=1000)
X = vectorizer.fit_transform(data['Essay_Cleaned'])

# Step 3: Model Training
y = data['N/S']  # Labels: 'N' or 'S'
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)

# Step 4: Model Evaluation
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.7368421052631579
Classification Report:
               precision    recall  f1-score   support

           N       0.74      1.00      0.85        14
           S       0.00      0.00      0.00         5

    accuracy                           0.74        19
   macro avg       0.37      0.50      0.42        19
weighted avg       0.54      0.74      0.63        19

c:\Users\USER\anaconda3\envs\Updated_Python_Dev_ALX\Lib\site-packages\sklearn\metrics\_classification.py:1517: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\USER\anaconda3\envs\Updated_Python_Dev_ALX\Lib\site-packages\sklearn\metrics\_classification.py:1517: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\USER\anaconda3\envs\Updated_Python_Dev_ALX\Lib\site-packages\sklearn\metrics\_classification.py:1517: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [12]:
essy_df['N/S'].value_counts()
67/26

2.576923076923077

In [13]:
7/3

2.3333333333333335

In [14]:
6/4

1.5

#### Question 44
Remove all punctuation from the essays and convert it to lower case.

What is the 10th character in the first essay?

In [42]:
def cleaner_txt(txt):
    text = re.sub(r'[^\w\s]', ' ', txt)

    return text.lower()

essy_df['Quiz_44'] = essy_df['Essay'].apply(cleaner_txt)

essy_df['Quiz_44'][0][10]

' '

In [16]:
essy_df['Quiz_44'][0][10]

' '

#### Question 45
Tokenise the essays.

How many tokens are in the 17th essay?

In [44]:
def cleaner_tokenizer_txt(txt):
    text = re.sub(r'[^\w\s]', ' ', txt)

    text = word_tokenize(text.lower())

    return text

essy_df['Quiz_45'] = essy_df['Essay'].apply(cleaner_tokenizer_txt)
len(essy_df['Quiz_45'][16])

440

In [45]:
essy_df['Quiz_45'] = essy_df['Essay'].apply(cleaner_tokenizer_txt)

In [46]:
essy_df.head()

,I/E,N/S,T/F,J/P,Essay,Quiz_44,Quiz_45
0,I,S,T,J,My first 4 months at the EDSA have been filled...,my first 4 months at the edsa have been filled...,"[my, first, 4, months, at, the, edsa, have, be..."
1,I,N,F,J,I joined the academy being at a crossroads of ...,i joined the academy being at a crossroads of ...,"[i, joined, the, academy, being, at, a, crossr..."
2,E,N,F,J,so far my experience has been positive and i c...,so far my experience has been positive and i c...,"[so, far, my, experience, has, been, positive,..."
3,I,N,F,J,I have been very fortunate to have the opportu...,i have been very fortunate to have the opportu...,"[i, have, been, very, fortunate, to, have, the..."
4,I,N,T,J,Looking back to when one got to the academy an...,looking back to when one got to the academy an...,"[looking, back, to, when, one, got, to, the, a..."

In [47]:
len(essy_df['Quiz_45'][16])

440

#### Question 46
How does lemmatisation differ from stemming?

**Lemmatisation always results in actual words, while stemming can result in non-existent words.**    
Lemmatisation cuts off part of the word while stemming considers the morphological analysis of the words.
Stemming always results in actual words, while lemmatisation can result in non-existent words.
They operate the same way – they just come from different libraries (scikit-learn and NLTK).

#### Question 47 
Use the SnowballStemmer to stem the word experiences.

What is the output?

‘experi’
‘experience’
‘experiences’
‘experienc’

In [48]:
from nltk.stem import SnowballStemmer

#Initialize 
stemmer = SnowballStemmer('english')

word = 'experiences'

stmmed_word = stemmer.stem(word)

print(f'Stem for {word} is {stmmed_word}')

Stem for experiences is experi

In [49]:
from nltk.stem import SnowballStemmer

# Initialize the Snowball Stemmer for English
stemmer = SnowballStemmer("english")

# Word to stem
word = "experiences"

# Stem the word
stemmed_word = stemmer.stem(word)

print(stemmed_word)

experi

In [15]:
from nltk.stem import SnowballStemmer

# Initialize the SnowballStemmer
stemmer = SnowballStemmer('english')

# Define the word to be stemmed
word = 'experiences'

# Apply stemming
stem = stemmer.stem(word)

print(stem)

experi

#### Question 48
Remove all the stop words.

What is the 24th token in the 81st essay?

In [50]:
def cleaner_tokenizer_txt_sw(txt):
    text = re.sub(r'[^\w\s]', '', txt)

    token = word_tokenize(text.lower())
    stop_words = set(stopwords.words('english'))

    #Remove stop words
    texts = [word for word in token if word not in stop_words]

    return texts

essy_df['Quiz_48'] = essy_df['Essay'].apply(cleaner_tokenizer_txt_sw)

In [17]:
essy_df['Quiz_48'][80]

['experience',
 'academy',
 'bitter',
 'sweet',
 'arrived',
 'much',
 'excitement',
 'eagerness',
 'change',
 'world',
 'much',
 'dismay',
 'soon',
 'crushed',
 'bits',
 'awareness',
 'lack',
 'knowledge',
 'understanding',
 'first',
 'quite',
 'time',
 'affected',
 'selfconfidence',
 'evidently',
 'performance',
 'within',
 'groups',
 'well',
 'function',
 'fear',
 'failure',
 'moment',
 'started',
 'much',
 'better',
 'properly',
 'understood',
 'things',
 'really',
 'take',
 'time',
 'manifest',
 'tried',
 'tested',
 'many',
 'terrible',
 'ideas',
 'reach',
 'better',
 'level',
 'understanding',
 'z',
 'thinker',
 'fretting',
 'obsessing',
 'z',
 'forgetting',
 'b',
 'im',
 'developing',
 'greater',
 'level',
 'self',
 'efficacy',
 'understand',
 'falsely',
 'assumed',
 'things',
 'would',
 'change',
 'night',
 'kind',
 'thinking',
 'resulted',
 'poor',
 'decision',
 'making',
 'consumed',
 'self',
 'connecting',
 'team',
 'assistance',
 'improving',
 'growing',
 'falsely',
 'assumed',
 'able',
 'everything',
 'perhaps',
 'function',
 'comparing',
 'high',
 'performers',
 'teams',
 'intelligent',
 'people',
 'doubts',
 'abilities',
 'perhaps',
 'reason',
 'fear',
 'inadequate',
 'made',
 'decision',
 'making',
 'little',
 'tough',
 'especially',
 'needed',
 'bit',
 'assertiveness',
 'mostly',
 'introverted',
 'made',
 'difficult',
 'raise',
 'issues',
 'emotionally',
 'uncomfortable',
 'deal',
 'let',
 'slide',
 'didnt',
 'deal',
 'best',
 'manner',
 'possible',
 'also',
 'fear',
 'asking',
 'help',
 'overwhelmed',
 'something',
 'exhibited',
 'although',
 'us',
 'others',
 'good',
 'thing',
 'rather',
 'best',
 'thing',
 'entire',
 'experience',
 'able',
 'reach',
 'point',
 'aware',
 'limitations',
 'place',
 'especially',
 'toxic',
 'habits',
 'stunt',
 'growth',
 'first',
 'step',
 'able',
 'something',
 'acknowledging',
 'hardest',
 'part',
 'moving',
 'selfawareness',
 'action',
 'least',
 'understand',
 'take',
 'time',
 'little',
 'everyday',
 'doesnt',
 'stop',
 'year',
 'done',
 'learning',
 'never',
 'stops',
 'reason',
 'scared',
 'magnitude',
 'rather',
 'excited',
 'learn',
 'cant',
 'know',
 'everything',
 'anything',
 'anyway',
 'chasing',
 'perfection',
 'emotionally',
 'physically',
 'exhausting',
 'things',
 'continue',
 'tough',
 'change',
 'iskeeps',
 'occurring',
 'change',
 'always',
 'tough',
 'deal',
 'however',
 'able',
 'go',
 'others',
 'amazing',
 'experience',
 'one',
 'would',
 'trade',
 'anything',
 'else',
 'valuable',
 'thing',
 'learnt',
 'emotions',
 'cloud',
 'judgement',
 'affects',
 'performance',
 'use',
 'logic',
 'height',
 'stress',
 'helps',
 'us',
 'stop',
 'emotions',
 'clouding',
 'judgement',
 'making',
 'us',
 'make',
 'irrational',
 'decisions',
 'real',
 'value',
 'education',
 'wont',
 'seen',
 'results',
 'sprints',
 'belt',
 'scores',
 'impact',
 'make',
 'lives',
 'ultimately',
 'wherever',
 'find',
 'beyond',
 'academy',
 'keep',
 'learning',
 'learning',
 'data',
 'science',
 'importantly',
 'learning',
 'world',
 'around',
 'us']

In [55]:
essy_df['Quiz_48'][80][23]

'selfconfidence'

#### Question 49
How many unique words are in these essays (after we have removed the stopwords)?

In [56]:
essy_words = [word for word in essy_df['Quiz_48']]

#Combining all essys into a single essy
all_words = []
for essy in  essy_df['Quiz_48']:
    all_words.extend(essy)

unique_words = np.unique(all_words)
count_unique_words = len(unique_words)

print(f'Count of Unique Words: {count_unique_words}')

Count of Unique Words: 3406

#### Question 50
Create a bag of words and use it to determine how many times ‘time’ was mentioned in the 56th essay?

In [57]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from collections import Counter

bow = Counter(essy_df['Quiz_48'].iloc[55])

#Counting occurence of 'time'

time_count = bow['time']

print(f"The word 'time' appears {time_count} times in hte 56th Essy")

The word 'time' appears 2 times in hte 56th Essy

In [58]:
essy_df.head()

,I/E,N/S,T/F,J/P,Essay,Quiz_44,Quiz_45,Quiz_48
0,I,S,T,J,My first 4 months at the EDSA have been filled...,my first 4 months at the edsa have been filled...,"[my, first, 4, months, at, the, edsa, have, be...","[first, 4, months, edsa, filled, many, new, ex..."
1,I,N,F,J,I joined the academy being at a crossroads of ...,i joined the academy being at a crossroads of ...,"[i, joined, the, academy, being, at, a, crossr...","[joined, academy, crossroads, sorts, life, aca..."
2,E,N,F,J,so far my experience has been positive and i c...,so far my experience has been positive and i c...,"[so, far, my, experience, has, been, positive,...","[far, experience, positive, definitely, see, v..."
3,I,N,F,J,I have been very fortunate to have the opportu...,i have been very fortunate to have the opportu...,"[i, have, been, very, fortunate, to, have, the...","[fortunate, opportunity, join, academy, year, ..."
4,I,N,T,J,Looking back to when one got to the academy an...,looking back to when one got to the academy an...,"[looking, back, to, when, one, got, to, the, a...","[looking, back, one, got, academy, right, conf..."

In [63]:
pd.value_counts(essy_df['Essay'].str.lower().iloc[55].split()).to_dict()['time']

C:\Users\USER\AppData\Local\Temp\ipykernel_9036\852787224.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(essy_df['Essay'].str.lower().iloc[55].split()).to_dict()['time']
C:\Users\USER\AppData\Local\Temp\ipykernel_9036\852787224.py:1: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  pd.value_counts(essy_df['Essay'].str.lower().iloc[55].split()).to_dict()['time']

2

In [31]:
Counter(essy_df['Essay'].str.lower().iloc[55].split())['time']

2

#### Question 51
Words that appear at least twice account for what percentage of the total number of words in the essays?

In [32]:
counter_all_words = Counter(all_words)

In [59]:
words_atleast_twice = [key for key,val in counter_all_words.items() if counter_all_words[key] >= 2]
count_words_atleast_twice = len(words_atleast_twice)

p = count_words_atleast_twice/count_unique_words

print(f'Proportion of words that appeat atleast twice: {p:.0%}')

Proportion of words that appeat atleast twice: 48%

#### Question 52
What is the most commonly mentioned word by ENFJ personalities?

In [60]:
#Creating Personality Col
essy_df['Personality'] = essy_df['I/E'] + essy_df['N/S'] + essy_df['T/F'] + essy_df['J/P']
#Filter for ENFJ Personalities
ENFJ_df = essy_df[essy_df['Personality'] == 'ENFJ']

#Combining th essy into one essy
ENFJ_essys = []
for essy in ENFJ_df['Quiz_48']:
    ENFJ_essys.extend(essy)

ENFJ_counter = pd.Series(ENFJ_essys).value_counts().sort_values(ascending= False)

most_com_word = ENFJ_counter.index[0]
n = ENFJ_counter.max()

print(f'Most Common Word in ENFJ Personality is: \033[1;4;92m{most_com_word}\033[0m Appearing \033[1;4;92m{n}\33[0m times')

Most Common Word in ENFJ Personality is: team Appearing 33 times

#### Question 53
Create a new column in the data frame containing the bi-grams from each essay.

What is the 109th bi-gram in the 70th essay?

In [61]:
from nltk import bigrams

def gen_bigrams(x):
    return [pair for pair in bigrams(x)]
essy_df['bi-grams'] = essy_df['Quiz_48'].apply(gen_bigrams)

essy_df.head()

,I/E,N/S,T/F,J/P,Essay,Quiz_44,Quiz_45,Quiz_48,Personality,bi-grams
0,I,S,T,J,My first 4 months at the EDSA have been filled...,my first 4 months at the edsa have been filled...,"[my, first, 4, months, at, the, edsa, have, be...","[first, 4, months, edsa, filled, many, new, ex...",ISTJ,"[(first, 4), (4, months), (months, edsa), (eds..."
1,I,N,F,J,I joined the academy being at a crossroads of ...,i joined the academy being at a crossroads of ...,"[i, joined, the, academy, being, at, a, crossr...","[joined, academy, crossroads, sorts, life, aca...",INFJ,"[(joined, academy), (academy, crossroads), (cr..."
2,E,N,F,J,so far my experience has been positive and i c...,so far my experience has been positive and i c...,"[so, far, my, experience, has, been, positive,...","[far, experience, positive, definitely, see, v...",ENFJ,"[(far, experience), (experience, positive), (p..."
3,I,N,F,J,I have been very fortunate to have the opportu...,i have been very fortunate to have the opportu...,"[i, have, been, very, fortunate, to, have, the...","[fortunate, opportunity, join, academy, year, ...",INFJ,"[(fortunate, opportunity), (opportunity, join)..."
4,I,N,T,J,Looking back to when one got to the academy an...,looking back to when one got to the academy an...,"[looking, back, to, when, one, got, to, the, a...","[looking, back, one, got, academy, right, conf...",INTJ,"[(looking, back), (back, one), (one, got), (go..."

In [62]:
_70_essy = essy_df['bi-grams'][69]

_109_bigrams = _70_essy[108]

print(f'The 109th bi grams in the 70th Essy is:  \033[1;92m{_109_bigrams}')

The 109th bi grams in the 70th Essy is:  ('quite', 'well')